<article>
    <h1><%= post.title %></h1>
    <iframe width="560" height="315" src="<%= post.yt_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p><%= post.content %></p>
    <p>Author: <%= users[post.contributor_id - 1].full_name %></p>
    <p>Date create: <%= post.date_created  %></p>
    <div class="post-interaction-wrapper">
        <div class="btn-wrapper">
            <p>likes: <%= post.like_count %></p>
            <p>comments: <%= post.comment_count %></p>
        </div>

        <a href="#commentsAnchor" class="btn">comment</a>
        <form action="/post/<%= post.id %>/like" method="post">
            <input type="hidden" name="like_count" value="<%= locals.currentUser %>">
            <button class="btn" id="likeBtn">like</button>
        </form>
        
    </div>
</article>
<a id="commentsAnchor">
    <% if (true) { %>
    <section class="">
        <form action="/post/:postId/comment" method="post">
            <input type="hidden" name="_method" value="post">
            <label for="content"></label>
            <input type="text" name="content" placeholder="type here" id="asdf">
            <input type="hidden" name="post_id" value="<%= post.id %>">
            <input type="hidden" name="date_created" value="CURRENT_TIMESTAMP">
            <button>Comment</button>
        </form>
    </section>
    <% } %>
    <div class="comments-wrapper">
        <% for (let comment of comments) { %>
            <article>
                <p><%= comment.content %></p>
                <p><%= users[comment.user_id - 1].full_name %></p>
                <p><%= comment.date_created.toLocaleString() %></p>
            </article>
        <% } %>
    </div>
</a>
