<div class="tagline">
    <h1>Search results</h1>
    <h2>for: <%= input %></h2>
</div>
<% for (const post of posts) { %>
<article>
    <div class="post-heading">
        <a href="/post/<%= post.id %>">
            <h2><%= post.title %></h2>
        </a>
    </div>
    <p class="author"><span class="bold">By: </span> <a href="/user/profile/<%= post.contributor_id %>"><%= post.full_name %></a></p>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="<%= post.yt_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="content">
        <p><%= post.content %></p>
    </div>
    <p><span class="bold">Posted: </span> <%= post.date_created.toString().slice(0,21)  %></p>
    <div class="post-interaction-wrapper">
        <div class="btn-wrapper">
            <a href="/post/<%= post.id %>"><i class="fa-regular fa-heart like-comment-btns"> <%= post.like_count %> </i></a>
            <a href="/post/<%= post.id %>"><i class="fa-regular fa-comment like-comment-btns"> <%= post.comment_count %> </i></a>
        </div>

    </div>
    <div class="bottom-line"></div>
</article>
<% } %>

   